# Common
work*/
Test*/
*.xlsx
*.log

# Blender
*.blend1

# KiCad
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
fp-info-cache
*-backups/
Gerber/

# STM32CubeIDE
.metadata/
.settings/
Debug/
Release/
Drivers/
.project
.mxproject
.project
.launch
*.ld
*.s
!/STM32CubeIDE/workspace_1.13.2/EK002/Core/Src/main.c
!/STM32CubeIDE/workspace_1.13.2/EK002/EK002.ioc
